<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194701743878-j7ou12csv0spnqicvj4ic6pli9kr3lav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194701743878-j7ou12csv0spnqicvj4ic6pli9kr3lav</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Gzt7gkCId1hX9_6ueQJcx7OXfDDhdb0</string>
	<key>GCM_SENDER_ID</key>
	<string>194701743878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.objectDetection</string>
	<key>PROJECT_ID</key>
	<string>object-detection-e95b0</string>
	<key>STORAGE_BUCKET</key>
	<string>object-detection-e95b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194701743878:ios:708240360348ab7586f087</string>
</dict>
</plist>